{
    "parser" : "babel-eslint",
    "env" : {
        "node" : true,
        "mocha" : true
    },
    "extends" : "eslint:recommended",
    "plugins" : [
        "nodeca"
    ],
    "rules" : {
        "nodeca/indent": [ 2, "spaces", 4 ],
        "no-console" : 0,
        "no-irregular-whitespace" : 2,
        "comma-dangle" : [2, "always-multiline"],
        "semi" : [2, "always"]
    }
}
